/*
In this file you can set icon default css
*/

.ld-ui-div-icon {
    opacity: 1;
    height: 50px;
    width: auto;
}

.simple-icon {
    height: 30px;
    width: auto;
}

.icon-description {
    display: inline;
    margin-left: 8px;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
}

.cluster-icon .icon-description {
    position: fixed;
    top: 5px;
    left: 3px;
    font-weight: bold;
}
